body {
    background: #1c89b4;
}
#menu, #take-order {
                display: flex;
                flex-direction: row;
            }

            #take-order > p {
                padding-right: 10px;
            }

            .menu-item {
                border: 3px solid rgb(180, 56, 56);
            }

            .menu-item > h4,
            .menu-item > img {
                padding: 10px;
                padding-bottom: 5px;
            }

            img {
                width: 250px;
            }